<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken- darken-1 d-flex test-search">
            <div class="card-content white-text test ">
                <span class="card-title">{{card?.title}}</span>
                <p class="test-search">{{card?.cardBody}}</p>
            </div>
            <div class="card-action test-find-class ">
                <a [href]="card?.linkOne">This is a link</a>
                <a [href]="card?.linkTwo">This is a link</a>
            </div>
        </div>
    </div>
</div>
