.user-class {
  display: flex;
  display: none;
  box-shadow: red($color: #00000a);
}
.test {
    background-color: red;
    color: red;
}
.test-class {
  background: rgba($color: #FFF, $alpha: 1.0);
}
