<div class="wrap">
    <div class="container">
        <form [formGroup]="createUserForm" (ngSubmit)="createUser()"  >
            <div class="input-group mb-3 pt-1">
                <input #input [textMask]="{mask: mask(input.value)}" type="text" class="form-control w-100"
                        placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" [formControlName]="'name'">
                <div class="validation">
                    <small *ngIf="createUserForm.get('name').errors">
                        field is required
                    </small>
                </div>
            </div>

            <div class="input-group mb-3" [formGroupName]="'address'">
                <input type="text" class="form-control w-100"
                        aria-label="Amount (to the nearest dollar)"
                        placeholder="Address street"
                        [formControlName]="'street'">
                <input type="text" class="form-control w-100"
                        [placeholder]="'Address Country'"
                        aria-label="Amount (to the nearest dollar)"
                        [formControlName]="'country'">
            </div>

            <div class="input-group mb-3" [formArrayName]="'auto'"
                 *ngFor="let auto of createUserForm.get('auto')['controls']; let i = index;">
                <div [formGroupName]="i">
                    <input type="text" class="form-control"
                           aria-label="Amount (to the nearest dollar)"
                           placeholder="Mark"
                           [formControlName]="'mark'">
                    <input type="text" class="form-control"
                           [placeholder]="'Model'"
                           aria-label="Amount (to the nearest dollar)"
                           [formControlName]="'model'">
                </div>
            </div>



            <div class="input-group mt-1">
                <button type="submit" class="btn btn-outline-primary m-3">Create User</button>
                <button type="button" class="btn btn-outline-secondary m-3"
                        (click)="resetForm()" >
                    Reset Form
                </button>
                <button type="button" class="btn btn-outline-success m-3"
                        (click)="disableAll()">
                    Disable All
                </button>
                <button type="button" class="btn btn-outline-danger m-3"
                        (click)="enableAll()">
                    Enable All
                </button>
                <button type="button" class="btn btn-outline-dark m-3"
                        (click)="disableAddressGroup()">
                    Disable Address
                </button>
                <button type="button" class="btn btn-outline-dark m-3"
                        (click)="enableAddressGroup()">
                    Enable Address
                </button>
                <button type="button" class="btn btn-outline-dark m-3"
                        (click)="disableCountry()">
                    Disable Country
                </button>
                <button type="button" class="btn btn-outline-dark m-3"
                        (click)="enableCountry()">
                    Enable Country
                </button>
                <button type="button" class="btn btn-outline-warning m-3"
                        (click)="setUsername()">
                    Set User Name
                </button>
                <button type="button" class="btn btn-outline-info m-3"
                        (click)="setAll()">
                    Set All
                </button>
                <button type="button" class="btn btn-outline-light m-3"
                        (click)="setAddress()">
                    Set Address Group
                </button>
                <button type="button" class="btn btn-outline-light m-3"
                        (click)="addAuto()">
                    Add new Auto
                </button>
            </div>
        </form>
    </div>
</div>


