<div class="main-container">
    <header>
        <div class="navigation">
            <button class="navigation__item">home</button>
            <button class="navigation__item">guides</button>
            <button class="navigation__item">flight</button>
            <button class="navigation__item">about</button>
        </div>
        <div class="contact">
            <button>contact us</button>
        </div>
    </header>

    <div class="home">
        <div class="home__about">
            <h1 class="home__about__title">Travel to your dream destination</h1>
            <p class="home__about__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi quasi quibusdam!</p>
            <button class="home__about__button">Reserve Ticket</button>
        </div>
        <div class="home__media-content">
            <img [src]="'assets/img/about.png'">
        </div>
    </div>
    <div class="blog">
        <h1 class="blog__title">Create a memory to remember</h1>
        <p class="blog__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nisi quasi quibusdam!</p>
        <button class="blog__button">my travel logs</button>
    </div>
    <div class="places">
        <div class="places__card">
            <img [src]="'assets/img/places1.png'" class="places__card__image">
            <div class="places__card__divider"></div>
            <h1 class="places__card__title">Lorem ipsum dolor sit.</h1>
            <p class="places__card__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, corporis dicta dolorem enim eum maxime nemo odio provident repudiandae suscipit.</p>
        </div>
        <div class="places__card">
            <img [src]="'assets/img/places2.png'" class="places__card__image">
            <div class="places__card__divider"></div>
            <h1 class="places__card__title">Lorem ipsum dolor sit amet.</h1>
            <p class="places__card__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloremque eligendi ipsa iste quo recusandae reiciendis rerum sed sit voluptatum!</p>
        </div>
        <div class="places__card">
            <img [src]="'assets/img/places3.png'" class="places__card__image">
            <div class="places__card__divider"></div>
            <h1 class="places__card__title">Lorem ipsum dolor sit amet.</h1>
            <p class="places__card__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias blanditiis eius enim est fugiat ipsam itaque laborum omnis quisquam velit.</p>
        </div>
    </div>
    <div class="tip">
        <img [src]="'assets/img/airplane.png'" class="tip__image">
        <h1 class="tip__title">
            See places you've <span class="text-decoration-underline">never</span>  been before
        </h1>
        <p class="tip__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ullam!</p>
    </div>
</div>
