/* You can add global styles to this file, and also import other style files */
@import "app/styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/superhero/bootswatch";
html, body { height: 100%; }
body { margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
